body{
    width: 1000px;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
header{ /*I tried to put footer in as well but it kept putting the border around everything*/
    border: 1px solid blue;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
h1, h2{
    color: blue;
    font-size: small;
}
main{
    float: left;
    width: 66%;  
}
aside{
    float: left;
    width: 33%;
    background-color: aliceblue;

}
footer > p{
    clear: both;
    color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 10px;
}
.mainimg{
    width: 100%;
    border: 2px solid blue;
}
figcaption{
    font-weight: bold;
    font-size: small;
}
q{
    font-family: cursive;
    font-style: italic;
    font-size: large;
}
ul > li{
    list-style: none;
}
.link{ /*The other ways didn't change anything*/
    color: red;
    text-decoration: none;
    
}
.link:hover{
    color: green;
}










